*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#0d2a42, #640928, #0d2a42, #640928, #0d2a42, #640928, #0d2a42, #640928);
    box-sizing: content-box;
    /* background: repeating-linear-gradient(#0d2a42, #0d2a42 50vh, #640928, #640928 100vh); */
}

/* Contenedor grande ________________________________*/
.main__container { 
    display: flex;
    flex-direction: column;
}

/* H1 Titulo _______________________________________ */
.class_indice {
    font-size: 2.5rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(44, 158, 167, .1);
    padding: 18px 0;
    color: rgb(255, 247, 232);
}
.segundo {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 101, 101, .3);
}

/* Contenedor Indice ________________________________ */
.indice {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 30px;
    font-size: 1.3em;
    text-align: center;
}

.indice li {
    /* box-shadow: 1px -1px 10px #640928; */
    border-radius: 5px;
    padding: 7px;
    background: linear-gradient(rgba(44, 158, 167, .2), rgba(44, 158, 167, .2));
    list-style: none;
    transition-duration: .3s;
}

.indice li:hover {
    transform: scale(111%);
    transition-duration: .3s;
}

.indice li a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Parrafos __________________________________________*/
.parrafos_padre {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.parrafos {
    color: white;
    margin: 10px 30px;
    padding: 20px;
    border-radius: 5px;
}
.parrafos li {
    list-style: square;
    font-size: 1.2em;
    margin: 15px 0;
}

.parrafos h1 {
    text-align: center;
    margin-top: 15px;
}
.parrafos h2 {
    margin-bottom: 15px;
    text-align: center;
}

.parrafos:nth-child(2n) {
    background-color: rgba(255, 101, 101, .2);
}

.parrafos:nth-child(odd) {
    background-color: rgba(44, 158, 167, .2);
}

.parrafo_div {
    display: flex;
    justify-content: space-between;
}
.parrafo_div div {
    width: 48%;
    margin-left: 30px;
}

.parrafos div li a {
    color: rgb(236, 214, 214);
    font-weight: bold;
    transition-duration: .2s;
}
.parrafos div li a:hover {
    color: rgba(236, 214, 214, .8);
    font-size: 1.1rem;
    transition-duration: .2s;
}
/* _______________________________________________________ */